#intro{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image:url(src/img/background.jpg);
  background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.6;
  color: #fff;
  margin: 0%;
  text-align: center;
}

#text{
  padding-top: 80px;
  padding-bottom: 64px;
}
h2{
  font-weight: 700;
  margin-bottom: 0%;
}
p{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}
td{
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

select {
  background: none;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 1;
  border-radius: 2;
  height: 34px;
  color: #fff;

  }
